bittensor==10.3.0
async-substrate-interface==2.0.2
starlette>=0.30.0
pydantic>=2

torch>=2.4.0
dask>=2024.11.2
zarr
gcsfs==2024.12.0
pandas>=2.2.0
xarray>=2024.11.0
numpy>=2.0.0
h5netcdf==1.6.4

ipython==8.31.0
ipykernel==6.29.5
httpx==0.28.1

cartopy==0.24.1
tqdm==4.67.1
dotenv==0.9.9

check_shapes==1.1.1

tzdata

# validators only
timezonefinder==6.5.8
discord-webhook==1.4.1
cdsapi==0.7.5
netCDF4==1.7.4
# miners only
openmeteo-requests==1.3.0
blosc2==4.0.0
lmdb==1.7.5

# Four-variable GFS miner integration
herbie-data>=2025.6.0
cfgrib>=0.9.15.0
eccodes>=2.38.0

scipy==1.18.0
